@import "common/variables";

// Import npm dependencies
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "custom/home";
@import "custom/about";

body::-webkit-scrollbar {
  width: 7.5px;
}

body::-webkit-scrollbar-track {
  border-right: 2.5px solid grey;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid red;
  height: 10px;
}
