body.home{
  background: url('https://lh3.googleusercontent.com/k37VBQbswBw7csPGcduLwlo4x7kA6DWL3mudp300MQCcT_YH3wRK6ToTfzenrFhnsqOQI0zLgv_HEQw=w3352-h1860-rw');
  background-size: contain;
  background-attachment: fixed;
  background-position: 0px 150px;


  /*

  HEADER - SECTION A

  */
  .section-a{
    height: 70vh;
    padding-top: 10vh;
    margin-top: 0px;

    .main-title{
      font-weight: 800;
      color: transparent;
      // font-size:120px;
      background: url("https://lh5.googleusercontent.com/GDYMTL3wySaTvV4DQLAksSVxTCSWR08XVo4All9erK-G1UcaEkNuL-wVveMoyTeur1aH8zx3V75Bgsg=w3352-h1860") no-repeat;
      background-position: 40% 50%;
      -webkit-background-clip: text;
      position:relative;
      text-align:center;
      // line-height:90px;
      letter-spacing: -8px;
      font-size: 17.5rem;
      line-height: 17.7rem;
      background-size: cover;
      letter-spacing: 5px;
    }

    .tagline{
      margin-top: -100px;
      h1{
        font-weight: bold;
        font-size: 1.75rem;
        text-align: center;
        letter-spacing: 1px;
      }
      p{
        font-size: 1.25rem;
        text-align: center;
        font-weight: 200;
        letter-spacing: 1px;
      }
      button{
        cursor: pointer;
        background-color: #FE1211;
        font-size: 1.75rem;
        font-weight: bold;
        padding-left: 12.5%;
        padding-right: 12.5%;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 2.5vh;

        &:hover, &:active{
          background-color: darken(#FE1211, 2.5%);
          text-decoration: underline;
        }
      }
    }
  }

  /*

  SECTION B

  */

  .section-b{
    background: transparent;

    .wmle_item{
      background: white;
    }
    .wmle_post_meta{
      display: none;
    }
    .masonry-wrapper{
      max-height: 450px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 7.5px;
      }

      &::-webkit-scrollbar-track {
        border-right: 2.5px solid grey;
        // padding-right: 1.5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: white;
        border: 1px solid red;
        height: 10px;
      }
    }
  }

}
