footer.main-footer{
  background: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

  .in-house-copy-wrapper{
    @media (max-width: 576px){
      display: block;
      margin: 15px auto;
      width: auto;
    }
    img{
      height: 45px;
      @media (max-width: 576px){
        height: 40px;
      }
    }

    .copy{
      margin-left: 10px;
      font-size: 0.75rem;
      color: #003CEE;
      cursor: pointer;
    }
  }

  .app-store-download-wrapper{
    img{
      height: 50px;
      float: right;
      cursor: pointer;

      @media (max-width: 576px){
        display: block;
        margin: 15px auto;
        float: none;
      }
    }
  }

  @media (max-width: 576px){
    &.not-mobile{
      display: none;
    }
    &.mobile{
      margin-top: 35px;
      display: block;
    }
  }
  @media (min-width: 577px){
    &.not-mobile{
      display: block;
    }
    &.mobile{
      display: none;
    }
  }
}
